%form#new_post{ action: '/', method: 'post', enctype: 'multipart/form-data' }
  %input{ name: 'files[]', type: 'file', multiple: true }
  %br
  %textarea{ name: 'body' }
  %br
  %input{ type: 'submit', value: 'Submit' }

#post
  - @posts.each do |post|
    .post
      %div
        - if post.files
          - post.files.each_with_index do |file, index|
            %a{ href: file }
              %img.attachment{ src: post.thumbnails[index] }
      %p
        ~ post.body.lines.join('<br>')
      %p{ style: 'clear: left;' }
        %a{ href: "/posts/#{post.uuid}" } Reply
